* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  color: #333;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  line-height: 1.5;
}

.show-modal {
  font-family: inherit;
  font-size: 2rem;
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4rem;
  padding: 1.5rem 2.5rem;
  margin: 2rem;
}

.modal {
  position: relative;
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 1rem;
  z-index: 10;
}

.close-modal {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 400;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  color: #333;
}

.modal h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.modal p {
  font-size: 1.8rem;
}

/* .hidden {
  display: none;
} */
